@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    user-select: none;
}

body {
    color: white;
    overflow-x: hidden;
    width: 100%;
    text-align: center;
    background-color: rgb(29, 26, 41);
    font-family: "Fira Sans";
}

.logo {
    font-size: 100px;
    font-family: 'Fredoka One', cursive;
}

.header {
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
}